// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: left;
}

a[href^="/author/"] {
  pointer-events: none; /* Remove o comportamento de clique */
  cursor: default;      /* Altera o cursor para indicar que o link não está ativo */
  color: inherit;       /* Garante que a cor do texto permaneça natural */
  text-decoration: none; /* Remove o sublinhado, se houver */
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}