:root {
  --icon-bg: rgba(13, 110, 253, 0.12);
  --icon-bg-hover: rgba(13, 110, 253, 0.22);
  --icon-color: #0d6efd;
}

.dark {
  --icon-bg: rgba(13, 110, 253, 0.25);
  --icon-bg-hover: rgba(13, 110, 253, 0.35);
  --icon-color: #ffffff;
}

// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: left;
}

a {
  text-decoration: none !important; /* Remove o sublinhado, se houver */
}

.course .card-subtitle a:hover {
  text-decoration: none !important;
  border-bottom: 0px;
}

.card .section-subheading a:hover {
  border-bottom: 0px;
}

a[href^="/author/"] {
  pointer-events: none; /* Remove o comportamento de clique */
  cursor: default;      /* Altera o cursor para indicar que o link não está ativo */
  color: inherit;       /* Garante que a cor do texto permaneça natural */
}

.card-body .d-flex.align-content-start .mr-2.mb-2 img {
  height: 56px !important;
  max-width: none !important;
  display: block;
  filter: drop-shadow(0 8px 20px rgba(0,0,0,0.2));
}

.home-section:first-of-type {
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .home-section:first-of-type {
    padding-top: 40px;
  }
}

.portrait-title h2 {
  font-weight: 400;
}

.avatar {
  border: 3px solid var(--icon-bg);
  width: 200px;
  height: auto;
}

.dark .avatar {
  border: 3px solid white;
  
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.skip-to-top { /*jump to top button, link is in baseof.html */
  position: fixed;
  bottom: 9px;
  right: 9px;
  max-width: 39px;
  max-height: 39px;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  justify-content: center;
  font-size: 1rem;
  color: #1565c0;
  font-weight: 500;
  cursor: pointer;
  opacity: 60%;
}

.skip-to-top:hover {
  opacity: 100%;
  color: #1565c0;
}

ul.network-icon {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.network-icon li {
  margin-right: 0px;
}

.network-icon li a {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: var(--icon-bg);
  color: var(--icon-color);
}

/* Ícone */
.network-icon li a .big-icon {
  font-size: 1rem;
  transition: color 0.3s ease;
}

.network-icon li a:hover {
  background-color: var(--icon-bg-hover);
}

@media (min-width: 992px) {
  .people-widget .col-sm-auto {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .col-sm-auto.people-person {
    padding-bottom: 10px;
  }
}

.project-filters .btn-group {
  gap: 8px;               
}

.btn-toolbar .btn {
  border-radius: 15px 15px 15px 15px !important;
}

ul.share {
  gap: 8px;
}

ul.share li {
  margin: 0px;
}